<mat-toolbar>
  <mat-toolbar-row>
    <button mat-button color='primary' matTooltip="Add a new Job" aria-label="Add a new Job">
      <mat-icon aria-hidden="false" aria-label="add a new job">system_update_alt</mat-icon>
      UPDATE DELIVERY NOTE
    </button>
    <span class="toolbar-spacer"></span>
    <mat-paginator #paginator [length]="service.getElementData((job$ | async).id)?.length" [pageIndex]="0"
      [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </mat-toolbar-row>
</mat-toolbar>

<mat-accordion displayMode="flat" multi class="mat-table">
  <section matSort class="mat-elevation-z2 mat-header-row">
    <span class="mat-header-cell" mat-sort-header="elemantId">Element ID</span>
    <span class="mat-header-cell" mat-sort-header="totalQty">Total Qty</span>
    <span class="mat-header-cell" mat-sort-header="productionQty">Production Qty</span>
    <span class="mat-header-cell" mat-sort-header="prodBalance">Production Balance</span>
  </section>

  <mat-expansion-panel *ngFor="let item of service.getElementData((job$ | async).id)">
    <mat-expansion-panel-header class="mat-row">
      <span class="mat-cell">{{item.elementId}}</span>
      <span class="mat-cell">{{item.totalQty}}</span>
      <span class="mat-cell">{{item.productionQty}}</span>
      <span class="mat-cell">{{item.totalQty-item.productionQty}}</span>
    </mat-expansion-panel-header>
    <div>
      <pre>{{item.logisticsCompletionInfo | json}}</pre>
    </div>
  </mat-expansion-panel>

</mat-accordion>
