<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="25">
    <app-widget-card label="New Projects" total="12" percentage="50" [data]="cards"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
    <app-widget-card label="Users retention" total="1190" percentage="90" [data]="cards"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
    <div>
      <h4>Ongoing Projects</h4>
      <h1>35</h1>
    </div>
  </mat-card>
  <mat-card fxFlex="25">
    <div>
      <h4>Completed Projects</h4>
      <h1>19780</h1>
    </div>
  </mat-card>
</div>
